<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onSubmit()">
            <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
            <app-text-input formControlName="password" [type]="'password'" [label]="'Password'"></app-text-input>
            <button [disabled]="loginForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          </form>
    </div>
</div>
