<div class="container mt-5">
    <!-- <a routerLink="/" class="text-dark" style="cursor: pointer;">click me</a> -->

    <div *ngIf="(basket$ | async)===null">
        <p>There are no items in the basket</p>
    </div>
    <div *ngIf="basket$ | async">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <app-basket-summary
                        (increment)="incrementBasketItem($event)"
                        (decrement)="decrementBasketItem($event)"
                        (remove)="removeItemFromBasket($event)"
                        [items]="(basket$ | async).items"
                        ></app-basket-summary>
                    </div>
                </div>
                <div class="row">
                    <div routerLinkActive="router-link-active"  class="col-6 offset-6">
                        <app-order-total
                        [shippingPrice]="(basketTotal$ | async).shipping"
                        [subTotal]="(basketTotal$ | async).subTotal"
                        [total]="(basketTotal$ | async).total"
                        ></app-order-total>
                        <a [routerLink]="['/checkout']" style="cursor: pointer;">
                            Proceed to checkout
                        </a>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>